h1 {text-align: center;color:rgba(255, 255, 255, 0.769);font-weight: lighter; font-family: sans-serif;}

span {color:rgba(194, 156, 61, 0.813);}

p {text-align: center;color: rgba(240, 248, 255, 0.765);font-family: sans-serif;}

html {
    background: url(https://res.cloudinary.com/soundbetter/image/upload/c_fill,f_auto,g_face:auto,h_630,q_90,w_1200/v1564819485/assets/photos/182262/WK8A0736jgkg.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
button {font-size: 20px;
  border-radius: 8px;
background-color: rgba(0, 0, 0, 0);
color: rgba(0, 0, 0, 0);
transition-duration: 0.s;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
;
cursor: pointer;
border-color: rgba(0, 0, 0, 0.453)}

button:hover {background-color: rgba(0, 0, 0, 0.477);
box-shadow: 0 12px 16px 0 rgb(0, 0, 0), 0 17px 50px 0 rgba(0,0,0,0.19)}

div {text-align: center;}

.vc {
      position: fixed;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
}
